@import '../../App';
.pageContainerFooter{
    color: white ;
    text-align: center;
    background-color: $secondary ;
    height: 80vh;
    width: 100vw;
}

.pageRow {
    max-width: 95vw;
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 25vh !important;
    padding-block: 25vh !important;
    width: 95vw !important;
}