@import '../../App';



.tarjeta {
  padding: 15%;
  box-sizing: border-box;
  border: solid 3px white;
  border-radius: 15px;
  margin: 1vh;
  height: 80vh;
  overflow: hidden;
  word-wrap: break-word;
}

.tarjeta:hover {
  background: #8f96a3;

}

.slider {
  max-width: 85vw;
  max-height: 85vh;
}