@import '../../App';

.elemento{
    padding: 0 !important;
}
.caption{
    background-color: $primary;
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 3vh;
}
.contenedor{
    padding: 0 !important;
}


